.server{
    flex-grow: 7;
}

.server span{
    font-size: 14px;
}
.server label{
    font-size: 18px;
    padding-right: 5px;
    height: 100%;
    color: white;
}
.server span.server-name input{
    font-size: 14px;
}
.server .info-ser{
    margin-left: 28%;
    color: white;
}
